{% extends 'base.html' %}
{% block content %}

<div class="container">
    <br><br>
<h1 class="title">企業追加</h1>

<div class="block">
    <h2 class="subtitle">企業名</h2>
</div>

<form action="" method="post">
    {% csrf_token %}
<div class="block">
    <textarea class="textarea" placeholder="" rows="1" name="company"></textarea>

</div>

<div class="block">
    <button type="submit" class="button is-success">企業を追加</button>
</div>

<div class="block">
    <a href="{% url 'mypage' pk=pk %}" class="tag">戻る</a>
</div>

</form>

</div>

{% endblock %}