{% extends 'base.html' %}
{% block content %}


<div class="container">
    <br><br>
<div class="block">
    <h1 class="title">質問内容</h1>
</div>

<div class="block">
    <div class="box">
<h3 class="subtitle">{{ question }}</h2>
</div>
</div>

<div class="block">
<h3 class="subtitle">あなたの回答</h3>
</div>

<div class="block">
    <div class="box">
    <p>{{ answer }}</p>
    </div> 
</div>


<div class="block">
    <h3 class="subtitle">{{ answer_length }}文字</h3>
</div>

<div class="block">
    <a href="{% url 'Edit_answer' pk=pk ans=ans %}" class="tag">編集</a>
    <a href="{% url 'delete_answer' pk=pk ans=ans%}" class="tag">削除</a>
</div>

<div class="block">
    <h3 class="subtitle">何文字で要約しますか？</h3>
</div>

<div class="block">
<form action="" method="post">
    {% csrf_token %}
<div class="block">
    <input class="input is-primary" type="number" placeholder="100" name="length"> 
</div>
<div class="block">
    <button type="submit" class="button">要約</button>
</div>
</form>
</div>

{% if summarized_answer %}
<div class="block">
    <div class="box">
    <p>{{ summarized_answer }}</p>
    </div> 
</div>

<div class="block">
    <h3 class="subtitle">{{ summarized_answer_length }}文字</h3>
</div>

{% endif %}

<div class="block">
    <a href="{% url 'mypage' pk=pk %}" class="tag">戻る</a>
</div>



</div>
<br><br>

{% endblock %}