<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>ESMaker</title>

</head>

<body>
<div class="container">
    <br><br>
<div class="block">
    <h1 class="title">質問内容</h1>
</div>

<div class="block">
<h2 class="subtitle">質問内容(question)をここに記載</h2>
</div>

<div class="block">
<h3 class="subtitle">あなたの回答</h3>
</div>

<div class="block">
    <div class="box">
    <p>{{ answer }}</p>
    </div> 
</div>

<div class="block">
    <h3 class="subtitle">{{ answer_length }}文字</h3>
</div>

<div class="block">
    <h3 class="subtitle">何文字で要約しますか？</h3>
</div>

<div class="block">
<form action="" method="post">
    {% csrf_token %}
<div class="block">
    <input class="input is-primary" type="text" placeholder="100" name="length"> 
</div>
<div class="block">
    <button type="submit" class="button">要約</button>
</div>
</form>
</div>

{% if summarized_answer %}
<div class="block">
    <div class="box">
    <p>{{ summarized_answer }}</p>
    </div> 
</div>

<div class="block">
    <h3 class="subtitle">{{ summarized_answer_length }}文字</h3>
</div>

{% endif %}

</div>
</body>

</html>