<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>ESupporter</title>

</head>

<body>
    <div class="hero is-primary">
        <div class="hero-body ">
            <div class="container">
                <nav class = "level is-size-3">

                    <div class="level-left">
                        <h1 class="level-item has-text-weight-bold"><a href = "{% url 'mypage' pk=user.id %}">ESupporter</a></h1>
                    </div>
                    <div class = "level-right">
                        <p class="level-item is-size-6">{{ user.name }}さん</p>       
                        <p class="level-item "><a href="{% url 'logout' %}" class="tag is-danger">ログアウト</a></p>     
                    </div>
                </nav>
            </div>
        </div>
    </div>

    {% block content %}
    {% endblock %}

</body>
</html>