{% extends 'base.html' %}
{% block content %}


<div class="container">
    <br></br>

    <div class="block">
        <h2 class="subtitle"><strong>企業一覧</strong></h2>
    </div>
    <form action="" method="post">
        {% csrf_token %}
        <div class="block">
            <input name="SearchBox" type="text" placeholder="企業名を入力"></input>
            <button type="submit"class=submit>検索</button>  
        </div>
    </form>
    <br>
        
    <div class="block">
        {% for company in companies %}

    
            <!--p>{{company.company_name}}</p>-->
            <a href="{% url 'CompanyEsPage' pk=user.id comp=company.id %}" class="box is-white">{{company.company_name}}</a>

        {% endfor %}
    

        <div class="block">
                <a href="{% url 'post_company' pk=user.id %}" class="button is-primary">企業を追加</a>
        </div>



    </div>

    <div class="block is-size5">
        <a href="{% url 'mypage' pk=user.id %}" class="tag">マイページへ戻る</a>
    </div>

</div>

{% endblock %}