{% extends 'base.html' %}
{% block content %}


    <div class="container">
        <br>

    <div class="block">
        <div class="has-text-centered">
        <h1 class="is-size-3"><strong>企業一覧</strongf></h1>
        </div>
        <div class="has-text-right">
            <form action="" method="post">
                {% csrf_token %}
                <div class="field has-addons">
                    <div class="control">
                        <input class ="input" name="SearchBox" type="text" placeholder="企業名検索"></input>
                    </div>
                    <div class="control">
                        <button type="submit"class="button is-info"></i>検索</button>  
                    </div>
                </div>
            </form> 
        </div>

        
    </div>
    

        <br>

        <div class="block">
            {% for company in companies %}
                <!--p>{{company.company_name}}</p>-->
                <a href="{% url 'CompanyEsPage' pk=user.id comp=company.id %}" class="box is-white">{{company.company_name}}</a>
            {% endfor %}
        
            <div class="block">
                    <a href="{% url 'post_company' pk=user.id %}" class="button is-primary">企業を追加</a>
                    <a href="{% url 'mypage' pk=user.id %}" class="button is-primary">マイページへ戻る</a>
            </div>
            <br>
        </div>
    </div>

{% endblock %}