{% extends 'base.html' %}
{% block content %}
    
<div class="container">
    <br><br>
<h1 class="title">質問追加</h1>

<div class="block">
    <h2 class="subtitle">質問</h2>
</div>

<form action="" method="post">
    {% csrf_token %}
<div class="block">
    <textarea class="textarea" placeholder="" rows="1" name="question"></textarea>

</div>


<div class="block">
    <h2 class="subtitle">回答</h2>
</div>
<div class="block">
    <textarea class="textarea" placeholder="" name="answer"></textarea>
</div>

<div class="block">
    <button type="submit" class="button is-success">追加</button>
    <a href="{% url 'CompanyEsPage' pk=pk comp=company.id %}" class="button is-success">戻る</a>
</div>    </div>

</form>

</div>

{% endblock %}