<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>ESMaker</title>

</head>

<body>
    <div class="hero is-primary">
        <div class="hero-body ">
            <div class="container">
                <nav class = "level is-size-3">
                
                    <div class = "level-left">
                        <h1 class="level-item has-text-weight-bold"><a href = "{% url 'index' %}">ES Maker</a></h1>
                    </div>
 
                </nav>
            </div>
        </div>
    </div>

<div class="container">
    <br><br>
<h1 class="title has-text-centered">ログイン</h1>
{% if error %}

<div class="block">
    <div class="notification is-danger">
        <p>{{ error }}</p>
    </div>
</div>

{% endif %}


<form method="POST" class="box has-text-centered">
    {% csrf_token %}
    <div class="field">
        <label class="label">メールアドレス</label>
        <div class="control">
           {{ form.email }}
        </div>
      </div>
      <div class="field">
        <label class="label">パスワード</label>
        <div class="control">
            {{ form.password }}
        </div>
      </div>
    
    <br></br>

    <button type="submit" class="button is-primary">ログイン</button>
</form>


</div>
</body>
</html>