<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <title>ESMaker</title>

</head>

<body>
    <h1>マイページ</h1>
<h2>{{ user.name }}さん</h2>
<h3>あなたの投稿一覧</h3>
<p>質問</p>
{% for question in questions %}
 <a href="{% url 'answer' pk=user.id ans=question.id %}">{{question.question}}</a>
{% endfor %}
</body>

</html>