<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
    <title>ESMaker</title>

</head>

<body>
<div class="container">
    <br><br>
<div class="block">
    <h1 class="title">マイページ</h1>
</div>

<div class="block">
    <a href="{% url 'logout' %}" class="tag is-danger">ログアウト</a>
</div>

<div class="block">
<h2 class="subtitle">{{ user.name }}さん</h2>
</div>

<div class="block">
<h3 class="subtitle">あなたの回答</h3>
</div>

<div class="block">
<h2 class="subtitle"><strong>質問一覧</strong></h2>
</div>

<div class="block">
{% for question in questions %}
<div class="box">
    <a href="{% url 'answer' pk=user.id ans=question.id %}">{{question.question}}</a>
  </div>
{% endfor %}
</div>

<div class="block">
    <button class="button is-primary">
        <a href="{% url 'post_answer' pk=user.id %}">追加</a>
    </button> 
    </div>

<br><br>
</div>
</body>

</html>