{% extends 'base.html' %}

{% block content %}

{% if message %}
<br>
<div class="columns is-centered ">
    <div class="column is-11"  style="background: rgb(249, 252, 252);">
        <div class="notification is-primary" class="mx-10">
            <button class="delete"></button>
            <h2 class="subtitle">{{ message }}</h2>
        </div>
    </div> 
</div>
{% endif %}
<div class="container">
    <br></br>
    
 

    <div class="block">
        <h1 class="title"><strong>AI要約機能</strong></h1>
    </div>
    <div class="block">
        <h2 class="subtitle"><strong>要約したい質問をクリックして下さい。</strong></h2>
    </div>
    <form action="" method="get">
        {% csrf_token %}
        <div class="block">
            <input name="SearchBox" type="text" placeholder="キーワードを入力"></input>
            <button type="submit"class=submit>検索</button>  
        </div>
    </form>
    <br><br>
    
    <div class="block">
        {% for question in questions %}
            <a href="{% url 'answer' pk=user.id ans=question.id %}" class = "box is-white">{{question.question}}</a>
        {% endfor %}
    </div>

    <div class="block">
        <a href="{% url 'post_answer' pk=user.id %}" class="button is-primary">質問と回答を追加</a>
    </div>
    
    <br></br>

    <div class="block is-size5">
        <a href="{% url 'mypage' pk=user.id %}" class="tag">マイページへ戻る</a>
    </div>

</div>

    

{% endblock %}